@font-face {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    src: url('../assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard-Medium';
    src: url('../assets/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .roomTitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .dateSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .dateSection label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .dateSection p {
    margin: 0;
  }
  
  .details {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .price {
    font-weight: bold;
  }
  
  .form {
    margin-bottom: 40px;
    
  }
  h3{
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .inputGroup {
    margin-bottom: 35px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .totalPrice {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: #0047ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0036cc;
  }
  