@font-face {
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  src: url('../assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

body {
    font-family: 'Pretendard-SemiBold';
    margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 20px;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header__left {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px; 
}
.header__left a {
  font-size: 20px;
  margin:10px 0px;
  text-decoration: none;
  color:#000000;
  cursor: pointer;
}

.header__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 100px; }

.header__link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.header__link:hover {
  color: #3c3c3c;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
  margin-left: 20px; 
}
.header__separator {
  margin: 0 10px;
  color: #ccc;
  pointer-events: none; 
  user-select: none; 
}