@font-face {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    src: url('../assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  }
  @font-face {
      font-family: 'Pretendard-Medium';
      src: url('../assets/fonts/Pretendard-Medium.woff2') format('woff2'); 
      font-weight: 400; 
      font-style: normal;
  }
  .container {
    display: flex;
    min-height: 100vh;
  }

  .sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
  position: relative;
  height: auto;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
}

.username {
  margin-top: 10px;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 10px 0;
  text-align: center;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.nav ul li a:hover {
  background-color: #e0e7ff;
  color: inherit;
}

.nav .active {
  background-color: #f1f3f5;
  font-weight: bold;
  border-radius: 5px;
}

  .mainContent {
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .createButton {
    padding: 10px 20px;
    background-color: #000080;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-family: 'Pretendard-SemiBold';
    cursor: pointer;
  }
  
  .createButton:hover {
    background-color: #0036cc;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .table th {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  
  .footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    margin-top: auto;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
.postContent {
  flex-grow: 1;
  padding: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block; 
  margin-bottom: 8px; 
  font-weight: bold;
}


.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imageButton {
  padding: 10px 20px;
  background-color: #E07912;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Pretendard-Medium';
}

.imageButton:hover {
  background-color: #C86410;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.submitButton {
  width: 100%;
  padding: 15px;
  background-color: #000080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #000060;
}

