.user-signup-container {
  text-align: center;
  padding: 20px;
  font-family: 'Pretendard-SemiBold', sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.progress-steps {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  font-size: 14px;
}

.progress-steps .inactive-step {
  color: #888;
}

.progress-steps .active-step {
  font-weight: bold;
  color: #000;
}

.signup-form {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: bold;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 15px;
}

.rule {
  color: #888;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 15px;
}

.rule-error {
  color: red;
}

.email-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.email-input span {
  margin: 0 5px;
}

.agreement-box {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.agreement-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.agreement-item label {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.agreement-item input {
  margin: 0;
  width: 20px;
  height: 20px;
}

.all-agree {
  font-size: 16px;
  font-weight: bold;
}

.terms-error {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: 0px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #4a3aff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #372bd8;
}
