.container {
    display: flex;
    background-color: white;
    height: auto;
    width: 100%;
    justify-content: center;

}

.title {
    width: 30%;
    min-width: 200px;
}

.filter_container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    width: 100%;

}

.range_buttons {
    display: flex;
    height: auto;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;


}


.range_buttons button {

    background-color: #ffffff;
    color: #000000;
    border: #ccc solid 1px;
    cursor: pointer;
    border-radius: 1px;
    height: auto;
    margin:0px;
    padding: 5px;

}

.range_buttons button:hover {
    background-color: #e6b092;
    border-color: #ea7130;
    color:#ea7130 ;
}

.date_picker {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;


}

.date_picker label {
    font-weight: bold;
    margin-left: 20px;

}

.date_picker input {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap:10px;
    margin-right: 10px;


}


@media (max-width: 768px) {
    .title {
        width: 100%;
        text-align: center;
    }

    .filter_container {
        flex-direction: column;
    }

    .range_buttons {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
.totaluserHighlight {
    color: #ea7130;
    font-weight: bold;
}
