.container {
    display: flex;
    background-color: white;
    height: auto;
    width: 100%;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    width: 30%;
    min-width: 200px;
    text-align: left;
    font-weight: bold;
}

.filter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.range_buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.range_buttons button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.range_buttons button:hover {
    background-color: #e6b092;
    border-color: #ea7130;
    color: #ea7130;
}

.date_picker {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date_picker input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 150px;
}

.totaluserHighlight {
    color: #ea7130;
    font-weight: bold;
}

@media (max-width: 768px) {
    .title {
        width: 100%;
        text-align: center;
    }

    .filter_container {
        flex-direction: column;
        align-items: center;
    }

    .range_buttons {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .date_picker input {
        width: 100%;
    }
}
