.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    width: 200px;
    height: 100%;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-box {
    display: flex;
    margin: 10px 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-box:hover {
    background-color: #e9ecef;
}
