.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    width: 200px;
    height: 100%;
    padding: 10px 0;
}

.menuContainer {
    display: flex;
    flex-direction: column;
}

.menuBox {
    display: flex;
    margin: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menuBox:hover {
    background-color: #e9ecef;
}
