.container{
    display: flex;
    align-items: center;
    
}

.backButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .backButton:hover {
    background-color: #45a049;
  }

  .roomName{
    font-size: 17px;
    padding: 0;
    margin-bottom: 10px;
  }
  